@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenides!</h1>
    <p>Este es un ejemplo extremadamente elaborado de una pagina web</p>
    <p>El valor del connection string es: @ViewBag.MySqlString</p>
</div>
